<div>
    <h2>CARRITO DE COMPRAS:</h2>
    <ul>
        {{#if cartList.products.length}}
            {{#each cartList.products}}
                <h2>{{this.title}}</h2>
                <img src="{{this.thumbnail}}" alt="productImage" width="100px">
                <p>PRECIO: ${{this.price}}</p>
                <form action="/cart" method="post">
                    <input type="submit" value="Agregar al carrito"> <br/> <br/> 
                </form>
            {{/each}}
        {{/if}}
    </ul>
    <form action="/cart/purchase" method="get">
        <input type="submit" value="Finalizar compra"> <br/> <br/> 
    </form>
</div>



    {{!-- <h2>MI CARRITO DE COMPRAS:</h2>
    <ul>
        {{#if cart.products.length}}
            {{#each cart.products}}
                <h2>{{this.title}}</h2>
                <img src="{{this.thumbnail}}" alt="" width="100">
                <p>{{this.price}}</p>
            {{/each}}
        {{/if}}
    </ul>
    <form action="/cart/purchase" method="get">
      <input type="submit" value="Finalizar compra"> <br/> <br/> 
    </form> --}}
