<div>
    <h2>BIENVENIDO/A: {{username}}</h2> 
    <form action="/logout" method="get">
        <input type="submit" value="Cerrar sesión">
    </form> 
    <br/>
    <h2>DATOS PERSONALES:</h2>
    <h3>Nombre: {{firstname}}</h3>
    <h3>Apellido: {{lastname}}</h3>
    <h3>Tel: {{phone}}</h3>
    <h3>Dirección: {{address}}</h3>
    <h3>Edad: {{age}}</h3>
    <img style="width: 100px" src="{{photo}}" alt="photo"> 
    <br/>
    <br/>
    <div>
      <ul>
        <li>
            <form action="/products" method="get">
                <input type="hidden" name="username" value="{{username}}">
                <input type="submit" value="Ver productos"> <br/> <br/> 
            </form>
        </li>
        <li>
            <form action="/cart" method="get">
                <input type="hidden" name="username" value="{{username}}">
                <input type="submit" value="Ver carrito"> <br/> <br/> 
            </form>
        </li>
                <li>
            <form action="/product-loading" method="get">
                <input type="hidden" name="username" value="{{username}}">
                <input type="submit" value="Ingresar productos"> <br/> <br/> 
            </form>
        </li>
      </ul>
    </div>
</div>
<script>
    function login() {
        location.href = '/login'
    }

    setTimeout(login, 60000)
</script>


