  <div>
    <strong>Argumentos de entrada:</strong><p>{{infoNoDebug.entry}}</p>
    <strong>Path de ejecución:</strong><p>{{infoNoDebug.path}}</p>
    <strong>Nombre de la plataforma:</strong><p>{{infoNoDebug.osName}}</p>
    <strong>ID del proceso:</strong><p>{{infoNoDebug.idprocess}}</p>
    <strong>Versión de node.js:</strong><p>{{infoNoDebug.version}}</p>
    <strong>Carpeta del proyecto:</strong><p>{{infoNoDebug.projectFolder}}</p>
    <strong>Memoria total reservada:</strong><p>{{infoNoDebug.rss}}</p>
    <strong>Número de procesadores:</strong><p>{{infoNoDebug.numCPUs}}</p>
</div>
  
  


