  <div>
    <strong>Argumentos de entrada:</strong><p>{{infoDebug.entry}}</p>
    <strong>Path de ejecución:</strong><p>{{infoDebug.path}}</p>
    <strong>Nombre de la plataforma:</strong><p>{{infoDebug.osName}}</p>
    <strong>ID del proceso:</strong><p>{{infoDebug.idprocess}}</p>
    <strong>Versión de node.js:</strong><p>{{infoDebug.version}}</p>
    <strong>Carpeta del proyecto:</strong><p>{{infoDebug.projectFolder}}</p>
    <strong>Memoria total reservada:</strong><p>{{infoDebug.rss}}</p>
    <strong>Número de procesadores:</strong><p>{{infoDebug.numCPUs}}</p>
    <strong>Long Response Proof:</strong><p>{{infoDebug.longResponseProof}}</p>
</div>
  
  


