  <div>
    <strong>Argumentos de entrada:</strong><p>{{entry}}</p>
    <strong>Path de ejecución:</strong><p>{{path}}</p>
    <strong>Nombre de la plataforma:</strong><p>{{osName}}</p>
    <strong>ID del proceso:</strong><p>{{idprocess}}</p>
    <strong>Versión de node.js:</strong><p>{{version}}</p>
    <strong>Carpeta del proyecto:</strong><p>{{projectFolder}}</p>
    <strong>Memoria total reservada:</strong><p>{{rss}}</p>
    <strong>Número de procesadores:</strong><p>{{numCPUs}}</p>
    <strong>Response:</strong><p>{{longResponseProof}}</p>
</div>
  
  


