<div>
    <h2>MI CARRITO DE COMPRAS</h2>
    <form action="/cart" method="get">
        <input type="hidden" name="username" value="{{username}}">
        <input type="submit" value="Ver carrito"> <br/> <br/> 
    </form>
    <h2>LISTADO DE PRODUCTOS</h2>
    <ul>
        {{#each productsWithQuotes}}
            <h2>{{this.title}}</h2>
            <img src="{{this.thumbnail}}" alt="productImage" width="100px">
            <p>PRECIO: $ {{this.arsPrice}} / US$ {{this.usdPrice}} </p>
            <form action="/cart" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <input type="hidden" name="title" value="{{this.title}}">
                <input type="hidden" name="price" value="{{this.price}}">
                <input type="hidden" name="stock" value="{{this.stock}}">
                <input type="hidden" name="thumbnail" value="{{this.thumbnail}}">
                <input type="hidden" name="username" value="{{this.username}}">
                <input type="submit" value="Agregar al carrito"> <br/> <br/> 
            </form>
        {{/each}}
    </ul>   
</div>



